.main {
  width: 100vw;
  height: 100vh;
  background: rgb(136 129 129 / 20%);
  display: flex;
  /* align-items: center;
  justify-content: center; */
  text-align: center;
  flex-direction: column;
}

.list-bikes {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  text-align: center;
}
